body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
  justify-content: center;
}

#header {
  padding-bottom: 5%;
  width: 100%;
  background-color: darkcyan;
}

.book_card {
  display: flex;
  margin: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input[type="text"] {
  width: 20%;
  padding: 8px;
  margin-bottom: 15px;
  margin-right: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]::placeholder {
  color: #999;
}

input[type="text"]:hover,
input[type="text"]:focus {
  border-color: #66afe9;
  outline: none;
}

dialog {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: none;
}

#book_button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #999;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 25px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 6px;
}
